.active-menu-item {
    background-color: #1851DF;
    border-radius: 10px;
    color: #fff;
}

@media (min-width: 0px) {
    @media (orientation: landscape) {
        .css-i3yesn-MuiToolbar-root {
            min-height: 64px!important;
        }
    }
}