.account-input-group {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-danger-zone {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-input {
    width: 50%;
}

.account-input-group > div {
    width: 50%;
}

.css-1jk99ih-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    -webkit-text-fill-color: rgba(0, 0, 0, 0.5);
}

.account-input input[disabled] {
    cursor: not-allowed;
}

.settings-change-password-form {
    width: 70%;
}

@media screen and (max-width: 1000px) {
    .account-input-group {
        width: 100%;
    }

    .settings-change-password-form {
        width: 100%;
    }
} 

@media screen and (max-width: 600px) {
    .account-input-group {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .account-input-group > div {
        width: 100%;
    }
}