.setting-notifications-wrapper > div,
.notification-settings-top {
    width: 60%;
}

.notification-list {
    align-items: center!important;
}

@media screen and (max-width: 1000px) {
    .setting-notifications-wrapper > div,
    .notification-settings-top {
        width: 100%;
    }

    .notification-settings-top {
        gap: 15px;
    }
}