.task-inner-tabs > div > div{
    display: flex!important;
    gap: 10px!important;
}

.text-comment-input input {
    padding-left: 15px!important;
}

.comment-list-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-box .quill {
    height: auto!important;
    width: 90%;
    border: none;
    margin: 0!important;
}

.comment-box .quill .ql-toolbar {
    display: none;
}

.comment-box .ql-container.ql-snow {
    border: none;
}

.comment-paper {
    position: relative;
    width: 100%;
    background-color: #EEF2F3; 
    border-radius: 20px!important; 
    display: flex; 
    align-items: flex-start;
    padding: 15px;
}

.reply-paper {
    position: relative;
    background-color: #fff; 
    border-radius: 20px!important; 
    display: flex; 
    align-items: flex-start;
    padding: 15px;
    width: 85%;
    align-self: flex-end;
}

.comment-header-text {
    display: flex;
    align-items: center;
    gap: 7px;
}

.comment-header-text span {
    color: rgba(2, 66, 137, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.comment-header-text p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 15px;
    font-weight: 500;
    margin-top: 2px;
}

.comment-popover a {
    text-decoration: none;
    font-size: 12px;
    color: rgba(51, 51, 51, 1);
}

.more-icon {
    position: absolute!important;
    right: 10px;
    top: 10px;
}

.comment-content > h6 {
    width: 93%;
}

.expand-replies {
    margin-top: 10px;
    width: fit-content;
    font-size: 15px;
    color: rgb(2, 66, 137); 
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    padding: 2px 6px 2px 2px;
    border-radius: 15px;
    cursor: pointer;
}

.expand-replies svg {
    font-size: 29px;
}

.expand-replies:hover {
    background-color: rgb(2, 66, 137, 0.1)!important;
}

.post-list {
    width: 23%;
    position: fixed;
    top: 112px;
    bottom: 0;
}

.post-list > div {
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    height: calc(100vh - 112px);
}

.post-list > div::-webkit-scrollbar {
    display: none;
}

.comment-section-wrapper {
    height: 90vh;
    overflow-y: auto;
    scrollbar-color: #888 #f1f1f1;
}

.comment-section-wrapper::-webkit-scrollbar {
    display: none;
}

.comment-section-wrapper {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.comment-section-wrapper ul {
    padding: 2px;
}

.timeline-container {
    padding-left: 0!important;
    padding-right: 0!important;
}

.timeline-container li {
    min-height: 100px!important;
}

.timeline-container li::before {
    flex: none!important;
    -webkit-flex: none!important;
    padding: 0!important;
}

@media screen and (max-width: 1199.5px) {
    .post-list {
        width: 100%;
        position: static;
        margin-top: 15px;
        margin-top: 15px;
    }

    .post-list > div {
        width: 100%;
        overflow: initial;
        overflow-y: initial;
        height: auto;
    }

    .post-grid {
        margin-top: 15px;
    }

    .post-list > div {
        overflow: initial;
        -ms-overflow-style: initial;
        height: auto;
    }    

    .comment-section-wrapper {
        height: auto;
        overflow-y: initial;
    } 

    .task-detail-tabpanel {
        padding: 0;
    }

    .task-detail-tabpanel > div {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 900px) {
    .comment-box .css-1sbtzft {
        margin: 0 auto!important;
        width: auto;
    }
}